*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: "Oswald", sans-serif;
    line-height: 1.25;
    margin: 0;
    padding: 0;
}

header {
    background-color: #384150;
    padding: 0.45em;
    text-align: center;
}

header nav ul {
    padding: 0;
}

nav li {
    display: inline-block;
    font-size: 1.15em;
    padding: .25em 1em;
    text-transform: uppercase;
}

nav li:not(:last-child) {
    border-right: 1px solid #666;
}

nav a {
    border-bottom: 3px solid #666;
    color: #ccc;
    text-decoration: none;
}

nav li a:hover {
    border-bottom: 3px solid #8bc34a;
}

.parent {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
}

main {
    display: grid;
    place-items: center;
    font-size: 3rem;
    text-align: center;
    margin-inline: 2rem;
}

footer {
    background-color: #384150;
    padding: 1.5rem;
    text-align: center;
    color: #ccc;
}
          